<form action="/delete" method="POST" class="deleteForm hiddenDiv">
  <div class="buttonsCont">
    <input type="hidden" id="hidDelInput" name="id" />
    <button type="submit" class="delCol">Confirm</button>
    <button type="button" id="cancelDel">Cancel</button>
  </div>
</form>
